:root {
    --primary: #E73736;
    --light: #F6F6F6;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Roboto, serif;
    background-color: var(--light);

    .container {
        width: 90%;
        margin: 0 auto;
    }
    .smaller {
        font-size: .5rem;
    }
    .red-box {
        display: inline-block;
        background-color: var(--primary);
        margin-left:3px;
        width: 7px;
        height: 7px;
        color: var(--primary);
        /* font-size: .3rem; */

    }
}

nav {
    background-color: #fff;
    padding: 10px 0;
    .nav-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .left-side {
        display: flex;
          .logo {
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: .6rem;
            letter-spacing: 1px;
            word-spacing: 1px;
        }
    }
    .right-side {
        display: flex;
        .search-btns, .navbar {
            > * {
                margin-left: 4px;
                font-weight: 300;
            }
            display: flex;
            align-items: center;
            background-color: #fff;
            font-size: .8rem;
            margin-right: 15px;
        }
    }
}
